:root {
    --bs-border-radius-xs: 0.125rem;
}

a {
    text-decoration: none;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-weight: 700;
}

.breadcrumb {
    margin-top: 1rem;
    font-weight: bolder;
}

.breadcrumb>li+li:before {
    padding: 0 5px 0 10px;
    content: ">\00a0";
}

.sidebar-brand {
    height: inherit;
}

.brand-link {
    display: flex;
    align-items: normal;
    gap: 0.25rem;
    color: rgba(var(--bs-emphasis-color-rgb), 0.8);
}
.brand-link:hover {
    color: rgba(var(--bs-emphasis-color-rgb), 1);
}

.brand-link .logo-img {
    vertical-align: middle;
}

.sidebar-wrapper .nav-link p {
    white-space: wrap !important;
}

.main-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    /* min-height: 35vh; */
}

.btn {
    min-width: 50px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 1.6em;
    white-space: nowrap;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(var(--bs-body-bg-rgb), 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr="rgba(230, 230, 230, 0.1)", EndColorStr="rgba(0, 0, 0, 0.1)");
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
    text-overflow: ellipsis;
    /* margin-left: 0.167em; */
    /* margin-right: 0.167em; */
    /* margin-bottom: 0.333em; */
    /* font-size: 0.88em; */
    /* padding: 0.5em 1em; */
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.badge a {
    color: white;
}

.badge-primary {
    color: #fff !important;
    background-color: var(--bs-primary) !important;
}

.badge-success {
    color: #fff;
    background-color: var(--bs-success) !important;
}

.badge-default {
    color: #fff !important;
    background-color: var(--bs-secondary) !important;
}

.badge-info {
    color: white;
    background-color: var(--bs-info) !important;
}

.badge-danger {
    color: #fff !important;
    background-color: var(--bs-danger) !important;
}

.badge-warning {
    color: darkslategrey;
    background-color: var(--bs-warning) !important;
}

.badge-manual {
    color: white;
    background-color: cadetblue !important;
}

.badge-status {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge-warning a {
    color: darkslategrey;
}

.badge-warning a:hover {
    color: darkcyan !important;
}

.container-main {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    /* margin-bottom: 35px; */
    /* display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; */
}

.input-group {
    flex-wrap: nowrap;
    max-width: 95%;
}

.custom-file {
    max-width: 100%;
}

.custom-file-label {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-panel img {
    height: 2.3rem;
    width: 2.3rem;
    object-fit: cover;
}

.leaves,
.card,
.info-box,
.info-box-icon {
    background: rgba(var(--bs-body-bg-rgb), .5);
    border-top-left-radius: 1.5rem !important;
    border-bottom-right-radius: 1.5rem !important;
}

.card-title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.knob:hover {
    cursor: pointer;
}

.page-item:first-child span,
.page-item:first-child .page-link,
.page-item:first-child a {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child span,
.page-item:last-child .page-link,
.page-item:last-child a {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.modal-content {
    border-top: 3px solid var(--bs-link-color);
    border-top-left-radius: 1.5rem !important;
    border-bottom-right-radius: 1.5rem !important;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}

.info-control .info-box-icon,
.info-box {
    border-top-left-radius: 1.5rem !important;
    border-bottom-right-radius: 1.5rem !important;
}

.app-footer,
.wrapper .app-footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1032;
    opacity: .8;
}

.input-group-text {
    padding: 0.65rem;
}

.accordion-item,
.form-control,
.select2-container--bootstrap4 .select2-selection,
.input-group-text {
    background: rgba(var(--bs-body-bg), .1) !important;
    /* background-color: var(--bs-body-bg) !important; */
    border-color: var(--bs-border-color-translucent) !important;
}

.form-control:disabled {
    color: var(--bs-body-color-disabled);
}

.select2-container--bootstrap4 .select2-selection__clear {
    background-color: red !important;
    /* padding-top: 0.15em !important; */
    padding-left: 0.1em !important;
    font-weight: bolder !important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
    color: var(--bs-secondary-color) !important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    color: inherit !important;
    text-align: left !important;
}

table.dataTable>thead>tr>th,
.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected="true"],
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"],
.accordion-button:not(.collapsed) {
    color: #f8f9fa !important;
    background: linear-gradient(to bottom, rgba(var(--bs-link-color-rgb), 0.6) 0%, rgba(var(--bs-emphasis-color-rgb), 0.9) 100%);
}

.bg-danger a {
    color: #f8f9fa;
}

.accordion-button {
    background: linear-gradient(to bottom, rgba(var(--bs-link-color-rgb), 0.1) 0%, rgba(var(--bs-link-color-rgb), 0.2) 100%);
}

.table-cell-ellipsis select option,
.select2-dropdown,
.select2-results__message,
.select2-search--dropdown .select2-search__field {
    color: var(--bs-body-color) !important;
    background-color: rgba(var(--bs-body-bg-rgb), .8) !important;
}

.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {
    color: inherit !important;
}

.select2-container--bootstrap4 .select2-dropdown {
    border-color: rgba(var(--bs-body-color-rgb), .3) !important;
}

table.dataTable>tbody>tr.dtrg-group {
    background: rgba(var(--bs-link-color-rgb), 0.35) !important;
}

table.dataTable.hover>tbody>tr:hover>*,
table.dataTable.display>tbody>tr:hover>* {
    color: var(--lte-sidebar-menu-active-color);
    background-color: var(--lte-sidebar-menu-active-bg);
}

.align-top {
    vertical-align: top;
}

.alert p,
.callout p,
.toast-body p {
    margin-bottom: 0;
}

.callout {
    max-height: 500px;
    overflow: auto;
}

.select2-container--bootstrap4 .select2-results__option--highlighted,
.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover,
.datepicker table tr td span.focused,
.datepicker table tr td span:hover,
.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: var(--lte-sidebar-menu-active-bg) !important;
}

.note-btn-group .note-btn,
.nav-link {
    color: var(--lte-sidebar-menu-active-color);
}

.btn-group>.btn-check:checked+.btn,
.btn-group>.btn-check:focus+.btn,
.btn-group>.btn:hover,
.btn-group>.btn:focus,
.btn-group>.btn:active,
.btn-group>.btn.active,
.btn-group-vertical>.btn-check:checked+.btn,
.btn-group-vertical>.btn-check:focus+.btn,
.btn-group-vertical>.btn:hover,
.btn-group-vertical>.btn:focus,
.btn-group-vertical>.btn:active,
.btn-group-vertical>.btn.active {
    background-color: var(--lte-sidebar-menu-active-bg);
}

.dt-inactive,
tr.dt-inactive td,
.datepicker table tr td span.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover,
.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
    background-image: linear-gradient(to bottom, var(--bs-link-hover-color), var(--bs-link-color));
}

div.dt-container .dt-search input {
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
}

.btn-xs,
.btn-group-xs>.btn {
    --bs-btn-padding-y: 0.1875rem;
    --bs-btn-padding-x: 0.1875rem;
    --bs-btn-font-size: 0.65625rem;
    --bs-btn-border-radius: var(--bs-border-radius-xs);
}

.btn-xs+.dropdown-toggle-split,
.btn-group-xs>.btn+.dropdown-toggle-split {
    padding-right: 0.1875rem;
    padding-left: 0.1875rem;
}

.btn-outline-warning {
    color: var(--bs-orange);
    --bs-btn-color: var(--bs-orange);
    --bs-btn-border-color: var(--bs-orange);
}

.btn-outline-warning:hover,
.nav-link.btn-outline-warning:hover {
    color: var(--bs-btn-hover-color);
}

.btn-outline-info {
    --bs-btn-color: var(--bs-blue);
    --bs-btn-border-color: var(--bs-blue);
}

.img-circle {
    border-radius: 50%;
    border: 1.5px solid;
    border-color: rgb(255, 219, 88, 0.5);
}